<div id="alertContainer" class="position-fixed bottom-0 end-0 p-3 me-3" style="z-index: 11">
    <div id="alertContent" class="alert fade" role="alert">
        <span id="textAlert" class="text-white">Produto cadastrado com sucesso!</span>
        <button type="button" class="btn-close " data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
</div>