<nav class="left-navbar">
    <div class="d-flex flex-column flex-shrink-0 bg-primary position-fixed">
        <a href="/" class="d-block p-3 link-dark text-decoration-none" title="Icon-only" data-bs-toggle="tooltip" data-bs-placement="right">
            <span class="visually-hidden">Logo</span>
        </a>
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li>
                <a href="/" class="nav-link py-3 text-icon" title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi bi-speedometer2" ></i>
                </a>
            </li>
            <li>
                <a href="/" class="nav-link py-3 text-icon active" title="Produtos" data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi bi-basket" role="img" aria-label="Produtos" ></i>
                </a>
            </li>
        </ul>
    </div>
</nav>